@import 'src/styles/variables';

.wrapper {
  height: 80px;
  border: $border-color;
  border-radius: 10px;
  padding-left: 23px;
  padding-top: 12px;
  padding-bottom: 12px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.label {
  font-size: 12px;
  color: $text-secondary-color;
}

.input {
  outline: none;
  border: 0;
  height: 40px;
  background-color: transparent;
  width: 200px;
}

.currencySelector {
  position: absolute;
  width: 70px;
  height: 30px;
  right: 20px;
  font-size: 12px;
}
