@import 'src/styles/variables';

.wrapper {
  width: 100%;
}

.input {
  height: 56px;
  border: $border-color;
  border-radius: 10px;
  padding-left: 23px;
  padding-top: 12px;
  padding-bottom: 12px;
  display: flex;
  flex-direction: column;
  position: relative;
  outline: none;
  font-size: 16px;
  line-height: 24px;
  width: 100%;
}
