@import 'src/styles/mixins';
@import 'src/styles/variables';

.button {
  @include reset-button;
  border-radius: 10px;
  background-color: $button-color;
  height: 40px;
  width: 200px;
  color: #fff;
}
