@import 'src/styles/mixins';

.modal {
  width: 400px;
}

.close {
  @include reset-button;
  position: absolute;
  left: 16px;
  right: 16px;
  top: 16px;
  width: 32px;
  height: 32px;
  display: flex;
  color: rgba(187, 195, 206, 0.6);
  justify-content: center;
  align-items: center;
  margin-inline-start: auto;
  z-index: 2;
}

.closeIcon {
  fill: currentColor;
}

.usernameInput {
  margin-top: 20px;
}

.passwordInput {
  margin-top: 10px;
}

.controls {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}
