@import 'variables';

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: $base-font-family;
  background-color: #dfe5f1;
}

/* stylelint-disable */
#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}
