@mixin reset-button {
  outline: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  background: none;
  color: inherit;
}

@mixin reset-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
