
$base-font-family: 'Helvetica Neue', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;

// ToDo: need to put all colors and border styles in variables

$border-color: 1px solid #edf2f6;
$button-color: #1552f0;
$text-secondary-color: #96a0b5;
