@import 'src/styles/mixins';

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  z-index: 110;
  display: flex;
  align-items: center;
  justify-content: center;
}


.container {
  position: relative;
  margin: 0 auto;
  pointer-events: auto;
  width: 500px;
  background-color: #fff;
  box-shadow: 0 4px 32px rgba(0, 0, 0, 0.1);
  outline: 0;
  padding: 30px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 100;
}
