@import 'src/styles/mixins';
@import 'src/styles/variables';

.header {
  height: 85px;
  width: 100%;
  border-bottom: $border-color;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
}

.welcomeMessage {
  display: flex;
  align-items: center;
  margin-left: 48px;
}

.loginWrapper {
  display: flex;
  align-items: center;
  padding-left: 38px;
  padding-right: 48px;
  border-left: $border-color;
}

.loginButton {
  @include reset-button;
  height: 50px;
  width: 90px;
  padding-left: 10px;
  padding-right: 12px;
  background-color: #ffefeb;
  font-size: 12px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  svg {
    fill: #ff5630;
    height: 20px;
  }
}

.authenticatedWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.username {
  font-weight: bold;
  margin-left: 15px;
}

.iconWrapper {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: $border-color;
  background-color: #fafbfc;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  svg {
    height: 32px;
    width: 32px;
    fill: $text-secondary-color;
  }
}
