@import 'src/styles/mixins';
@import 'src/styles/variables';

.sidebar {
  width: 336px;
  height: 100%;
  border-right: $border-color;
}

.header {
  height: 85px;
  width: 100%;
  border-bottom: $border-color;
  display: flex;
  align-items: center;
  padding-left: 38px;
  font-weight: bold;
}

.title {
  color: $text-secondary-color;
  font-size: 14px;
  text-transform: uppercase;
  padding-left: 38px;
  height: 36px;
  line-height: 36px;
  margin-top: 28px;
}

.menu {
  @include reset-list;
  margin-top: 10px;
}

.item {
  display: inline-block;
  height: 45px;
  line-height: 45px;
  padding-left: 38px;
  border-left: 2px solid transparent;
  cursor: pointer;
  margin-top: 5px;
  text-decoration: none;
  color: #000;
  width: 100%;
}

.item:hover {
  border-left: 2px solid #265dec;
}

.active {
  border-left: 2px solid #265dec;
  color: #265dec;
}
