@import 'src/styles/variables';

.assets {
  width: 700px;
  background-color: #fff;
}

.header {
  height: 75px;
  display: flex;
  justify-content: space-between;
  padding: 0 28px;
}

.title {
  font-size: 16px;
  line-height: 75px;
  font-weight: 500;
}

.sortingSelect {
  margin-left: 5px;
}

.scrollWrapper {
  max-height: 500px;
  overflow: scroll;
}

.table {
  width: 100%;
  border-collapse: collapse;
  position: relative;
}

.thead {
  width: 100%;
}

.tableHeaderRow {
  width: 100%;
  border-top: $border-color;
  border-bottom: $border-color;
  height: 53px;
}

.tableHeaderRow th {
  background-color: #fafbfc;
  font-size: 16px;
  font-weight: 400;
  color: $text-secondary-color;
  text-align: left;
  position: sticky;
  top: 0;
}

.tableHeaderRow th:first-child,
.tableHeaderRow td:first-child {
  padding: 0 28px;
}

.assetImage {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.controls {
  padding: 21px 28px 30px;
  display: flex;
  justify-content: flex-end;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 100%;
}
