@import 'src/styles/mixins';
@import 'src/styles/variables';

.swap {
  @include reset-button;
  height: 10px;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
  width: 100%;
}

.icon {
  height: 24px;
  width: 24px;
  margin-top: -7px;
  background-color: #fff;
  cursor: pointer;
  fill: $text-secondary-color;
}
